@keyframes fade-in-out {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .del-from-cart-popup {
    position: fixed;
    bottom: 20px; /* Increased spacing for better visibility */
    left: 50%;
    transform: translateX(-50%);
    background-color: greenyellow;
    border: 1px solid #ccc;
    border-radius: 8px; /* Slightly increased border radius for a softer look */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adjusted box shadow for a subtle effect */
    animation: fade-in-out 2s ease-in-out;
    width: 90%;
    color: #333333; /* Darkened text color for better readability */
    font-weight: bold;
    text-align: center;
    height: 40px; /* Increased height for better content alignment */
    padding: 10px; /* Adjusted padding for better spacing */
    display: flex; /* Use flexbox for content alignment */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-size: 16px; /* Increased font size for better readability */
    color: black;
  }
