
  
  input {
    display: block;
    width: 100%;
    padding: .5rem;
    margin: 1rem 0;
    box-sizing: border-box;
  }
  
  
  select {
    color: #435960;
    font-weight: bold;
    display: block;
    width: 100%;
    padding: .5rem;
    margin: 1rem 0;
    box-sizing: border-box;
  }
  
  .add-button {
   padding: .5rem 1.5rem;
   font-size: 1rem;
   margin-bottom: 2rem;
  }
  
  .add-button:hover {
    color: white;
    background-color: #42545C;
  }
  
  button.delete {
    position: absolute;
    left: 210px;
    top: 5px;
    background-color: white;
    color:  #525252;
    font-size: 1.1rem;
    margin: 0;
    padding: 1px 10px 3px 10px;
  }
  
  button.delete:hover {
    background-color: #525252;
    color: white;
  }
  
  h2{
    text-align: center;
  }
  
  p {
    text-align: center;
  }
  
  .feedbacks-menu {
    font-size: 20px;
    padding: 0;
    margin: auto;
    max-width: 1000px;
  
    
    display: block;
  }
  
  a {
    background-color: #3f525c;
    border-radius: 2px;
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 100%;
    min-width: 70px;
    margin: .5rem auto;
    box-sizing: border-box;
  
    /* flexbox */
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
  
  @media (min-width: 600px) {
    a {
      width: 18%;
      box-sizing: content-box;
    }
  }
  
  a:hover {
    background-color: black;
  }
  