<div *ngIf="userService.getCurrentUser() == null"> 
  <h2><strong>Please Login to continue</strong></h2>
  <p><a href="#" routerLink="/login">Click Link to Log In</a><p>
</div>


<div *ngIf="userService.getCurrentUser() != null && !userService.isAdmin()">

    <h2><strong>Leave a Feedback</strong></h2>
    <button type="button" (click)="goBack()">Go Back</button>
    
    <div>
      <label for="new-feedback">Feedback: </label>
      <input type ="text" id="new-feedback" #feedbackName placeholder="Name"/>

    
      <!-- (click) passes input value to add() and then clears the input -->
      <button type="button" class="add-button" (click)="add(feedbackName.value); feedbackName.value=''"> Add feedback </button>
    </div>
</div>

<div *ngIf="userService.getCurrentUser() != null && userService.isAdmin()">
  <button type="button" (click)="goBack()">Go Back</button>
  <h2><strong>Feedbacks from Helper</strong></h2>
    <ul class="feedbacks-menu">
        <li *ngFor="let feedback of feedbacks">
            Feedback <strong>{{feedback.id}}</strong>:  {{feedback.feedback}}
            
        </li>
      </ul>
</div>