<button (click)="logOut()">Logout</button>

<div *ngIf="userService.isAdmin()">

<h2><strong>Add Needs</strong></h2>

<div>
  <label for="new-need">Need name: </label>
  <input type ="text" id="new-need" #needName placeholder="Name"/>

  <label for="new-need">Need cost: </label>
  <input type ="number" id="new-need" #needCost placeholder="Cost"/>

  <label for="new-need">Need quantity: </label>
  <input type ="number" id="new-need" #needQuantity placeholder="Quantity"/>

  <label for="new-need">Need type: </label>
  <input type ="text" id="new-need" #needType placeholder="Type"/>
  

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(needName.value, needCost.valueAsNumber, needQuantity.valueAsNumber, needType.value);
   needName.value=''; needCost.value=''; needQuantity.value=''; needType.value=''">
    Add need
  </button>
</div>

<ul class="needs">
  <li *ngFor="let need of needs">
    <a routerLink="/detail/{{need.id}}">
      <span class="badge">{{need.id}}</span> {{need.name}}
    </a>
    <button type="button" class="delete" title="delete need"
      (click)="delete(need)">x</button>
  </li>
</ul>
</div>

<div *ngIf="!userService.isAdmin()">
  <h2><strong>Admin Feature Only</strong></h2>
</div>